*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.items{
    width: 700px;
    height: 400px;
}

.item{
    height: 100%;
    display: none;
    position: relative;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active{
    display: block;
}